{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>学習ノート</title>
        <meta name="description" content="学習ノートアプリ。トピックや記事を管理して学習を記録できます。">
        <meta name="keywords" content="Python, Django, 学習ノート, Webアプリ">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <a class="navbar-brand ms-3" href="{% url "learning_logs:index" %}">学習ノート</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{% url "learning_logs:topics" %}">トピック一覧</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text me-3">こんにちは{{ user.username }}さん
                                <form class="d-inline" action="{% url 'users:logout' %}" method="post">
                                    {% csrf_token %}
                                    <a href="#" onclick="this.closest('form').submit(); return false;">ログアウト</a>
                                </form>
                            </span>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url "users:register" %}>ユーザー登録</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url "users:login" %}>ログイン</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}
                {% endblock page_header %}
            </div>
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </body>
</html>
